* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: skyblue;
}

#full-img {
  /* max-width: 100vw; */
  /* max-height: 100vh; */
  /* object-fit: scale-down; */
  display: block;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

#left {
  position: absolute;
  top: 50%;
  left: 50px;
}
#right {
  position: absolute;
  top: 50%;
  right: 50px;
}

div img {
  width: 100px;
}

div {
  border: 2px solid greenyellow;
  background-color: black;
  position: absolute;
  top: 50px;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 3px;
  transform: translateX(-50%);
  width: 200px;
  overflow: auto;
}

@media (min-width: 400px) {
  div {
    width: 300px;
  }
}
@media (min-width: 600px) {
  div {
    width: 400px;
  }
}
@media (min-width: 800px) {
  div {
    width: 500px;
  }
}
@media (min-width: 1000px) {
  div {
    width: 600px;
  }
}
